<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Keycloak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products" routerLinkActive="router-link-active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products" routerLinkActive="router-link-active">Products</a>
        </li>
        <li class="nav-item" *ngIf="securityService.kc.authenticated && securityService.kc.hasRealmRole('admin')">
          <a class="nav-link" routerLink="/suppliers" routerLinkActive="active">Suppliers</a>
        </li>
        <li class="nav-item" *ngIf="securityService.kc.authenticated && securityService.kc.hasRealmRole('user')">
          <a class="nav-link" routerLink="/suppliers" routerLinkActive="active">Commande</a>
        </li>
        <li class="nav-item" *ngIf="securityService.kc.authenticated">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto ">
        <li class="nav-item dropdown" *ngIf="securityService.kc.authenticated">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ userName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" style="color: coral;">{{ email }}</a></li>
            <li><a class="btn" (click)="onLogout()">Logout</a></li>
            <li><a class="btn" (click)="onChangePassword()">Change password</a></li>
          </ul>
        </li>
        <!-- Masque le lien "Login" lorsque l'utilisateur est authentifié -->
        <li class="nav-item" *ngIf="!securityService.kc.authenticated">
          <a class="btn" (click)="login()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
